@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rodin Pro";
  src: url("/fonts/FOTRodinPro.otf") format("opentype");
}

@font-face {
  font-family: "Rodin Pro M";
  src: url("/fonts/FOTRodinProM.otf") format("opentype");
}

@font-face {
  font-family: "Rodin Pro DB";
  src: url("/fonts/FOTRodinProDB.otf") format("opentype");
}
